:root {
  /* spacing */
  --xx-small: 4px;
  --x-small: 6px;
  --small: 8px;
  --medium: 12px;
  --big: 16px;
  --x-big: 20px;
  --xxbig: 24px;
  /* background */
  --app-default: #ffffff;
  --bg-primary: #6D28D9;
  --bg-secondary: #F3F4F6;
  /* colors */
  --text-default: #374151;
  --text-invert: #fff;
}


.dark {
  /* background */
  --app-default: #0a0a0a;
  --bg-primary: #7C3AED;
  --bg-secondary: #2E2640;
  /* colors */
  --text-default: #fff;
  --text-invert: #fff;
}